.InputBoxes {
    float: center;
    top: 0px;
}

.Links {
    align-items: center;
    background-color: aliceblue;
    float:center;
    top: 0px;
}

.Search, .Create {
    background-color: black;
    width: initial;
}
a {
    color: black;
}

a:hover{
    text-decoration: none;
    color:cadetblue;
    cursor:pointer;
}

.navbar{
    display: flex;
    flex-direction: column;
    width: auto;
}

.navLinks {
    display: table-cell;
    align-items: center;
}

.navLinks:hover {
    color:cadetblue;
    cursor:pointer;
}

